// These colors are specific to the theme. Do not use in a package!

@blue: #589DF6;
@red: #D95C5C;
@orange: #EF9E2E;
@green-bright: #93D2A0;
@green: #629755;
@very-dark-blue: #23272B;
@pink: #CE61C1;
@yellow: #EFE279;

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@cyan: #8abeb7;
@purple: #b294bb;
@light-orange: #f0c674;
